@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
.nav{
    position: absolute ;
    border: none;
    box-shadow: none;
    background: transparent;
    width: 199%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    z-index: 1;
    filter: blur(0px);
    font-size: 10px;
}

@media screen and (max-width: 767px) {
   .nav{
    width: 500px;
   }
  }

  @media screen and (max-width: 430px) {
    .nav{
     width: 350px;
    }
   }
 

.logo{
    font-family: Lora;
    font-size: 18px;
    color: black;
}
